<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
<body>
<br>
<br>
<br>
<br>
<div class="container asdw ">
    <style>
        .asdw{width: 30%}
    </style>
    <div class="jumbotron">
<form action="/login" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" pattern="^[a-zA-Z0-9]+$" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" pattern="^[a-zA-Z0-9]+$" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="d-flex justify-content-between">
    <button type="submit" class="btn btn-primary">Sign In</button>
    <a class="btn btn-success" href="/registration">Sign Up</a>
    </div>
</form>
    </div>
</div>
</body>
</html>

